.clients {
  width: auto;
  background: $third-color;

  &_title {
    display: inline-block;
    width: 100%;
    padding-top: 94px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $second-color;
    text-transform: none;
    text-align: center;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 182px;
    padding-top: 50px;
    padding-bottom: 94px;
  }

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
  }
}

.clients_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  padding: 0px;
  margin: none;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $primary-color;
  }
}

.clients_icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients_link:hover &,
  .clients_link:focus & {
    fill: $primary-color;
  }
}
